* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Epilogue', sans-serif;
    
    background-color: hsl(37, 59%, 16%);
    color: #FFFFFF;
    font-size: 16px;
    
}

main {
    display: grid;
    gap: 32px;
    
    animation-name: downtop;
    animation-duration: 700ms;
    
}

.page {
    max-width: 330px;
    margin: 100px auto;
}


header {
    
    text-align: center;
    margin: 100px 0 80px;
    
    animation-name: topdown;
    animation-duration: 700ms;
    
}

header p {
    color: hsl(9, 56%, 73%);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;

    margin-bottom: 17px;

    line-height: 32px;
}

header h2 {
    font-weight: 800;
    font-size: 40px;

    line-height: 48px;

}

.card {
    position: relative;
    
}

img {
    width: 100%;
    height: auto;
}

img:hover {
    transform: scale(1.05);
    opacity: 0.7;
    
}

.card img {
    height: 416px;
    object-fit: cover;
    border-radius: 10px;
    
    

   
    
}

.card h2 {
    position: absolute;

    bottom: 52px;
    left: 28px;

    font-size: 35px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 23px;
    
    
    
    
}

.card h2 span {
    border-radius: 20px;
    background-color: #FFFFFF;
    font-size: 16px;
    color: black;
    font-weight: 800;
    padding: 0 16px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    width: fit-content;
}


@keyframes topdown {
    
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes downtop { 
    0% {
        opacity: 0;
        transform: translateY(70px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 700px) {
    .page {
        max-width: 1170px;
        padding: 0 50px;
    }

    header h1 {
        font-size: 56px;
    }
}